{% load cms_tags menu_tags sekizai_tags static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>
      {% block title %}This is my new project home page{% endblock title %}
    </title>
    {% include 'head.html' %} {% render_block "css" %}
  </head>
  <body>
    {% cms_toolbar %}

    <div id="LeftBar" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      {% include 'leftMenu.html' %}
    </div>
    <!-- page header -->
    <div id="main">
      <div class="header-bg-wrapper">
        {% include 'menubar.html' %}
      </div>
      <!-- end header-top -->

      <div>{% placeholder "banner" %}</div>
    
    <div class="container">
      <div class="col-md-8">
        {% block content %} {% endblock %}
      </div>
      <div class="col-md-4">
      {% placeholder 'right_side_bar' %}
      </div>
    </div>
    <div style="margin-top: 180px">
      {% include 'footerbar.html' %}
    </div>
    {% include 'scripts.html' %} 
    {% render_block "js" %}
  </body>
</html>
