{% extends 'baseBlank.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}



 <div class="row">
             <button class="btn btn-info pull-right">
                {% with totail_items=cart|length %}
                    {% if cart|length > 0 %}
                        Order:
                        <a href="{% url "cart:cart_detail" %}" style="color: #ffffff">
                            {{ totail_items }} item {{ totail_items|pluralize }}
                        </a>
                        {% else %}
                        Your cart is empty.
                    {% endif %}
                {% endwith %}
             </button>
        </div> 
   <div class="container-fluid">
      <div class="row" >
        <div class="col-sm-10 blog-main padAll">
          <div class="row" style="font-size: 40px; padding: 0 0 30px 0">
            <center>ONLINE STORE</center>
          </div>
          <div id="searchArea">
          <div class="blog-post padAll">
              <div class="row">
                  {% for product in products %}
                      <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="caption"><center>
                              <img src="{% static 'img/' %}{{product.image}}" class="img-responsive" style="max-height: 150px"></center>
                                <h6 class="text-center">
                                    <a href="#product{{ product.id}}" class="btn btn-sm btn-info" data-toggle="modal">{{ product.name }}</a>
                                </h6>
                                <p class="text-center">USD {{ product.price }}</p>
                                
                            </div>
                        </div>
                      </div>
                  {% endfor %}
              </div>
            </div>
          </div><!-- /.blog-post -->
          <div class="col-md-12" style="padding-top: 5px;">
        <nav>
            <ul class="pagination">
              <li>{% if products.has_previous %}
                <a href="?{{page_request_var}}={{ products.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }} {% endif %}">
                  <span aria-hidden="true">&laquo;</span>
                </a>
                 {% endif %}
              </li>

              <li><a href="#">{{ products.number }} of {{ products.paginator.num_pages }}</a></li>

              <li>{% if products.has_next %}
                <a href="?{{page_request_var}}={{ products.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }} {% endif %}">
                  <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif %}
              </li>
            </ul>
        </nav>
      </div>
        </div><!-- /.blog-main -->

        <div class="col-sm-2 blog-sidebar">
          <div class="sidebar-module">
            <h4>Categories</h4>
            <ol class="list-unstyled">
              <li {% if not category %} class="active"{% endif %}><a href="{% url 'shop:product_list' %}">All</a></li>
            {% for c in categories %}

              <li {% if category.slug == c.slug %} class="active"{% endif %}>
                  <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
              </li>
            {% endfor %}
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->

  {% for product in products %}
    <div class="modal right fade"  id="product{{product.id}}"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
        <div class="modal-body">
          <iframe src="{{ product.get_absolute_url }}" frameborder="0" height="600" width="100%"></iframe>
          </p>
        </div>
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
{% endfor %}
{% endblock %}