{% extends "w3base.html" %}
{% load staticfiles %}
{% block content %}
<div class="w3-container">
	<div class="w3-row">
		<h5>Trending Ads</h5>
	</div>
	<div class="w3-row">
	 	{% for rw in products %}
	  		<div class="w3-col m4 s6  w3-default w3-center">
	  			<a href="{% url 'ad-detail' rw.id %}"><img src="{% static 'img/product1.png' %}" class="w3-image w3-padding" alt="product1"></a>
	  			<div class="item-category"><a href="{% url 'ad-detail' rw.id %}">{{rw.category}}</a></div>
				<div class="item-title"><a href="">{{rw.name}}</a></div>
				<div class="item-infos">US ${{rw.price}}</div>
	  		</div>
	  	{% endfor %}
	</div> 
</div>
{% endblock %}