{% extends 'baseBlank.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}
 
{% block content %}
<h1>&nbsp;</h1>
<div class="col-sm-4">
  <div class="well"><center>
    <h4>
      <a  onclick="openArticle()" class="btn btn-default">ADD ARTICLES</a></h4></center>
  </div>
</div>

<div class="col-sm-4">
  <div class="well"><center>
    <h4>
      <a  onclick="openVideo()" class="btn btn-default">ADD VIDEOS</a></h4></center>
  </div>
</div>

<div class="col-sm-4">
  <div class="well"><center>
    <h4>
      <a  onclick="openEvent()" class="btn btn-default">UPLOAD EVENTS</a></h4></center>
  </div>
</div>
 

 <div id="add_article" class="overlay">
      <div class="row">
        <div class="w3-col m12" style="padding: 10px 80px 0">
          
        </div>
      </div>
    <a href="javascript:void(0)" class="closebtn" onclick="closeArticle()">&times;</a>
    <div class="overlay-content">
      <div class="overlay-content">
      <iframe src="{% url 'add-article' %}" frameborder="0" width="100%" height="550"></iframe>
      </div>
    </div>
  </div>

<div id="add_video" class="overlay">
      <div class="row">
        <div class="w3-col m12" style="padding: 10px 80px 0">
          
        </div>
      </div>
    <a href="javascript:void(0)" class="closebtn" onclick="closeVideo()">&times;</a>
    <div class="overlay-content">
      <div class="overlay-content">
      <iframe src="{% url 'add-video' %}" frameborder="0" width="100%" height="500"></iframe>
      </div>
    </div>
  </div>


  <div id="add_event" class="overlay">
      <div class="row">
        <div class="w3-col m12" style="padding: 10px 80px 0">
          
        </div>
      </div>
    <a href="javascript:void(0)" class="closebtn" onclick="closeEvent()">&times;</a>
    <div class="overlay-content">
      <div class="overlay-content">
      <iframe src="{% url 'add-event' %}" frameborder="0" width="100%" height="500"></iframe>
      </div>
    </div>
  </div>

{% endblock %}