{% load static %}
<!DOCTYPE html>
<html lang="en" class="cover">
  <head>
    <meta charset="utf-8" />
    <title>Donations - Chamisa Now!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/imports.css' %}"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/bootstrap.min.css' %}"
      media="screen"
    />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      .accent-box,
      .newsletter-box {
        background-color: #ba1c24f2;
      }
    </style>
  </head>

  <body>
    <!-- Header content
	================================================== -->
    <div id="header">
      <!-- Cover element
		================================================== -->
      <div
        class="cover-wrapper"
        style="background-image: url({%static'img/chamisa1.jpg'%});"
      >
        <div class="cover-container">
          <!-- add class 'overlay' for inner shadow -->
          <div class="cover-inner">
            <div id="donation" class="cover-left-content">
              <div class="container">
                <div class="row">
                  <div class="col-sm-9 col-md-8 col-lg-7">
                    <div class="logo text-left">
                      <a href="{% url 'base' %}">
                        <img
                          src="{% static 'assets/images/logo-sm.png' %}"
                          width="280"
                          height="60"
                          alt="FrontRunner"
                        />
                      </a>
                    </div>

                    <div class="intro-wrap">
                      <h1 class="text-left">It Starts Here!</h1>
                      <p class="text-left">Help us restore our dignity.</p>
                    </div>

                    <div class="box-wrapper">
                      <div class="box accent-box">
                        <h3 class="text-left">DONATE TO THE CAMPAIGN</h3>

                        <form class="donate-form">
                          <ul class="amount-list">
                            <li class="amount">
                              <a
                                href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=G2SWEQ3J3WDDL&source=url"
                                style="color: #fff !important;"
                              >
                                <label
                                  for="amount-1"
                                  class="btn btn-sm btn-clear"
                                >
                                  <span class="amount-text">$5</span>
                                </label></a
                              >
                            </li>
                            <li class="amount">
                              <a
                                href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KWREUGCRSQ6KG&source=url"
                                style="color: #fff !important;"
                              >
                                <label
                                  for="amount-2"
                                  class="btn btn-sm btn-clear"
                                >
                                  <span class="amount-text">$25</span>
                                </label></a
                              >
                            </li>
                            <li class="amount">
                              <a
                                href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9WUQPCVMSGKU8&source=url"
                                style="color: #fff !important;"
                              >
                                <label
                                  for="amount-3"
                                  class="btn btn-sm btn-clear"
                                >
                                  <span class="amount-text">$50</span>
                                </label></a
                              >
                            </li>
                            <li class="amount">
                              <a
                                href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6LQ3YDV7MQNPN&source=url"
                                style="color: #fff !important;"
                              >
                                <label
                                  for="amount-4"
                                  class="btn btn-sm btn-clear"
                                >
                                  <span class="amount-text">$100</span>
                                </label></a
                              >
                            </li>
                            <li class="amount">
                              <a
                                href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=R68XF4N7C65K2&source=url"
                                style="color: #fff !important;"
                              >
                                <label
                                  for="amount-4"
                                  class="btn btn-sm btn-clear"
                                >
                                  <span class="amount-text">Other</span>
                                </label></a
                              >
                            </li>
                          </ul>
                        </form>
                      </div>
                    </div>
                    <!-- end donate-wrapper -->

                    <div class="continue-link">
                      <a href="{% url 'base' %}"
                        >Continue to the site &nbsp;
                        <i class="fa fa-arrow-circle-right"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.container -->
            </div>
          </div>
          <!-- /.cover-inner -->
        </div>
        <!-- /.cover-container -->
      </div>
      <!-- /.cover-wrapper -->
    </div>
    <!-- /#header -->

    <script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
  </body>
</html>
