{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Issues with Images - Political HTML Template - FrontRunner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/imports.css' %}"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/bootstrap.min.css'%}"
      media="screen"
    />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      .navbar-default {
        background-color: #afafb39e;
        border-color: #141433;
      }
      .navbar-default .navbar-nav > li > a {
        color: #ba1c24;
      }
    </style>
  </head>

  <body>
    <div
      id="header"
      class="header-bg header-nav-bottom"
      style="background-image: url('/static/img/landing_2.png');"
    >
      <!-- page header -->
      <div class="header-bg-wrapper">
        <!-- content -->
        <div class="header-inner">
          <div class="top-header-inner">
            <div class="inner-content">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <!-- Header Content -->
                    <header class="page-header intro-wrap">
                      <h1 class="page-title">On The Issues</h1>
                    </header>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end .header-inner -->
      </div>
      <!-- end .header-bg-wrapper -->

      <!-- main navigation -->
      <div class="header-inner menu-container">
        <div class="navbar-wrapper">
          <nav
            class="navbar navbar-default navbar-static-top navbar-sticky"
            id="nav-main"
          >
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="nav navbar-nav" id="nav-left">
                  <li>
                    <a href="{% url 'home' %}">&#9776;</a>
                  </li>
                  <li class="dropdown show-on-hover">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""
                      >About</a
                    >
                    <ul class="dropdown-menu">
                      <li><a href="">My Vision</a></li>
                      <li><a href="">My Story</a></li>
                    </ul>
                  </li>

                  <li><a href="{% url 'issues' %}">Issues</a></li>

                  <!-- <li class="dropdown show-on-hover">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""
                      >Deliver Change</a
                    >
                    <ul class="dropdown-menu">
                      <li><a href="">Make A Call</a></li>
                    </ul>
                  </li> -->
                </ul>

                <ul class="nav navbar-nav" id="nav-right">
                  <li>
                    <a
                      href="https://payments.mdcallianceparty.org/#/donations"
                      target="_blank"
                      style="color: #fff !important;"
                      >Donate</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- end default nav -->
        </div>
        <!-- end navbar-wrapper -->
      </div>
      <!-- end header-inner -->
    </div>
    <!-- end header -->

    <!-- Main Content
	================================================== -->
    <div class="main-content container">
      <div class="row">
        <div class="main-section col-md-8 col-md-offset-2">
          <!-- <header class="page-header">
					<h1 class="page-title">On The Issues</h1>
				</header>
 -->

          {% for rw in issues %} {% if rw.category == 'issues' %}
          <article class="issue">
            <header>
              <h2 class="entry-title">
                <a href="{% url 'article-detail' rw.id %}" title="article"
                  >{{rw.header}}</a
                >
              </h2>
            </header>

            <p>
              {{rw.description|truncatechars:200 }}
              <br />
              <a href="{% url 'article-detail' rw.id %}" class="more-link"
                >Continue reading</a
              >
            </p>

            <hr class="sep" />
          </article>
          {% endif %} {% endfor %}
        </div>
        <!-- end column -->

        <div class="col-md-4">
          <div class="sidebar-container">
            <!-- Sidebar content goes here -->
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end main-content -->

    <!-- Footer
	================================================== -->
    {% include 'footerbar.html' %}

    <script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
  </body>
</html>
