{% load static %}
<div class="header-inner menu-container">
  <div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" id="nav-main">
      <div class="container-fluid">
        <div class="navbar-header visible-xs-block">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-main"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"
            ><img src="assets/images/logo-tim.png" alt="Tim for US Congress"
          /></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-main">
          <ul class="nav navbar-nav" id="nav-left">
            <li><a href="{% url 'base' %}">Home</a></li>
            <li class="dropdown show-on-hover">
              <a class="dropdown-toggle" data-toggle="dropdown" href=""
                >About</a
              >
              <ul class="dropdown-menu">
                <li><a href="">My Vision</a></li>
                <li><a href="">My Story</a></li>
              </ul>
            </li>

            <li><a href="{% url 'issues' %}">Issues</a></li>

            <li class="dropdown show-on-hover">
              <a class="dropdown-toggle" data-toggle="dropdown" href=""
                >Deliver Change</a
              >
              <ul class="dropdown-menu">
                <li><a href="">Make A Call</a></li>
              </ul>
            </li>
            <li><a href="{% url 'issues' %}">I Will Vote</a></li>
          </ul>
          <ul class="nav navbar-nav" id="nav-right">
            <li>
              <a href="#footer" style="color: #fff !important;"
                >Get Involved</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end default nav -->
  </div>
  <!-- end navbar-wrapper -->
</div>
<!-- end header-inner -->
