{% load static %}
<div id="top">
<div class="header"style="border-color: #ffffff5e; 
				border-style: solid; 
				border-width: 0 0px 1px 0px;">
   <div class="w3-col m12 header top_bar">Call : +263 000 000 Mon - Fri 8:00 AM - 5:00 PM. Sunday CLOSED</div>     
  <div class="w3-row" style="padding-top: 50px">
  	<div class="w3-col s12">
  	<div class="w3-col m1">
  		<a href="#top" style="vertical-align: left;"><img src="{% static 'img/logo.png' %}" height="70"></a>
  	</div>	
	<div style="float: right; width: 140px; text-align: right;"> <button class="btn btn-md btn-danger" style="cursor:pointer; font-size: 20px; color: #fff" onclick="openNav()">&#9776;</button></div>
  		{% for rw in dictionary %}
		{% if rw.category == 'mainHeader' %}
	<div><a href="{{rw.link}}">{{rw.name}}</a></div>
	{% endif %}
	{% endfor %}
  	</div>
  </div>
</div>
</div>